@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>引擎配置</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>属性名称</th>
                                    <th>属性值</th>
                                </tr>
                                </thead>
                                <!--这里是Beetl的语法规则-->
                                <tbody>
                                @for(entry in engineProperties){
                                @var key = entry.key;
                                @var value = entry.value;
                                <tr>
                                    <td>${key}</td>
                                    <td>${value}</td>
                                </tr>
                                @}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-title">
                <h5>系统参数</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>属性名称</th>
                                    <th>属性值</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(entry in systemProperties){
                                    @var key = entry.key;
                                    @var value = entry.value;
                                <tr>
                                    <td>${key}</td>
                                    <td>${value}</td>
                                </tr>
                                @}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/flowable/expense/expense.js"></script>
@}
